<!DOCTYPE html>
<html>
<body>
    <form action="/report" method="POST">
    <p id=form-prompt>Which report do you want to be generated?</p>
        <input type="radio" id="minconfig" name="min" value=True>
        <label for="minconfig">Minimum Configuration</label><br>
        <input type="radio" id="maxconfig" name="min" value=False>
        <label for="maxconfig">Maximum Configuration</label><br>
        <input type="submit">
    </form>
</body>
</html>


<!-- <form id="form">
    <p id=form-prompt>Which report do you want to be generated?</p>
    <input type="radio" id="minimal" name="min_config" value="true">
    <label for="min_config">Basic Report</label><br>
    <input type="radio" id="Extensive" name="max_config" value="true">
    <label for="max_config">Extensive Report</label><br>
    
    <div><button type="submit">Submit</button></div>
  </form> -->